.header {
    @apply text-gray-600 shadow-lg w-screen fixed z-10 transition-all ;
}

.wrapper {
    @apply container mx-auto flex flex-wrap p-2 gap-x-4 md:flex-row items-center;
}

/*Logo*/

.logo {
    @apply font-medium text-xl text-gray-900 md:mb-0;
}

/*Navigation*/

.nav {
    @apply md:block hidden md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center
}

.nav_link {
    @apply mr-5 hover:text-gray-900 cursor-pointer
}

/*Button*/

.btn {
    @apply md:bg-gray-100 border-0 py-1 px-3 md:focus:outline-none md:hover:bg-gray-200 md:rounded text-base md:text-blue-600 font-bold
}

.notices {
    @apply bg-red-500 absolute -right-2 -bottom-2 text-[12px] w-[18px] h-[18px] text-white rounded-full flex justify-center items-center
}

/*Mobile menu*/

.mobileNav {
    @apply md:hidden flex flex-col items-center justify-center w-full h-screen absolute bg-white top-0 left-0 py-4;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0%);
    opacity: 100;
}

.mobileNav.active {
    transform: translateY(0);
}
